* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
    color: #fff;
    z-index: -1;
    cursor: url("red_brush.png"), auto;
}

.header-text {
    background: linear-gradient(aqua, rgba(0, 0, 0, 1));
    /* margin-top: 15px; */
    font-size: 30px;
    text-align: center;
    justify-content: center;
    text-shadow: 10px 10px 15px black;
    /* filter: blur(10px); */
}

.header-text h1 {

    color: rgba(202, 255, 255, 0.96);
    padding-top: 50px;

    text-wrap: wrap;
}

.header-text p {
    color: rgba(0, 255, 255, 0.678);
    text-wrap: wrap;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 70px;

    text-wrap: wrap;
}

.header-text p a {
    color: white;
}

header img {
    justify-content: center;
    align-items: center;
    /* top: 50%;
    left: 50%; */
    width: 100%;
    height: 100hv;
    max-height: 350px;
}

/* Painting section */

#painting {
    width: 100%;
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
}

.card-group {
    padding-top: 25px;
    display: flex;
    gap: 25px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    ;

}

.card {
    border: 5px solid;
    box-shadow: 10px 10px 10px #080808;

    width: 270px;
    height: 360px;
    overflow: hidden;
    /* border-radius: 10px; */
    transition: .5s;


    /* transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; */

    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: 1s;
    opacity: 1;
}

.card:hover {
    transform: scale(1.3);
    z-index: 10;
    background-color: #080808;
    transition: 1s;
}

.card:hover img {
    transform: scale(1.2);

    background-color: #080808;
    position: relative;
    opacity: 1;
}

/* .card-group:hover>.card:not(:hover) {
    filter: brightness(50%);
    filter: grayscale(100%);
} */



/* popup window */
.popup {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    max-height: 800px;
    /* border-radius: 15px; */
    background: rgba(2, 2, 2, 0.8);

    align-items: center;
    z-index: 100;
    overflow: hidden;
    transition: ease .5s;
    display: flex;

    visibility: hidden;
}

.popup.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: .7s;
    visibility: visible;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    height: 88%;
    /* width: 15%; */
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.left-arrow {
    left: 0px;
}

.right-arrow {
    right: 0px;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    /* background: red; */
    cursor: pointer;
    text-align: center;
    justify-items: center;
    transform: scale(2);
    text-shadow: 2px 2px 2px #080808;
}

.large-image {
    /* margin-top: 5%; */

    transition: ease-in-out 20s;
    width: 99%;
    height: 95%;
    object-fit: contain;
}

/* color splash */


color_splash {
    position: fixed;
    width: 130px;
    height: 130px;
    background-image: url(color_splash.png);

    background-size: cover;
    pointer-events: none;
    
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    align-items: center;
    z-index: 500;
    overflow: hidden;
    transition: ease-in-out .2s;
    display: flex;

    animation: color_splash_animate 1.5s infinite;
}

@keyframes color_splash_animate {
    30% {
        transform: translate();
        opacity: 1;
    }

    0%, 100% {
        transform: translate();
        opacity: 0;
    }
}